In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/Car_SupplyChainManagementDataSet.csv')

In [4]:
df.head()

,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,CarPrice,...,ShipDate,ShipMode,Shipping,PostalCode,Sales,Quantity,Discount,CreditCardType,CreditCard,CustomerFeedback
0,1,542 Dayton Center,Bubbletube,871-57-6028,8893,Dodge,Ram 2500,Goldenrod,2007,521963.45,...,2019/03/14,Standard Class,Truck,99522,744796.41,1,0.83,diners-club-carte-blanche,30408016042565,Bad
1,2,0674 Springview Circle,Tagopia,337-64-4060,9444,Toyota,Tundra,Crimson,2010,672222.04,...,2019/03/06,Standard Class,Truck,56398,794773.17,1,0.79,jcb,3549221112237767,Good
2,3,70 Autumn Leaf Center,Zoomdog,218-19-1802,253,GMC,Savana 1500,Crimson,2011,504465.72,...,2019/01/20,Second Class,Air,60674,968244.90,1,0.28,jcb,3557159608180902,Okay
3,4,649 Corben Lane,Oozz,635-15-3112,1283,Volkswagen,Cabriolet,Fuscia,1990,646077.11,...,2019/03/16,First Class,Truck,32885,942213.82,2,0.76,jcb,3529909223663921,Very Bad
4,5,94 Namekagon Point,Kare,849-23-6788,8905,Mercury,Mariner,Teal,2009,699890.24,...,2019/01/29,Second Class,Air,48232,879519.57,1,0.50,china-unionpay,5602235978541517,Bad

In [5]:
df.isnull().sum()

SupplierID                0
SupplierAddress           0
SupplierName              0
SupplierContactDetails    0
ProductID                 0
CarMaker                  0
CarModel                  0
CarColor                  0
CarModelYear              0
CarPrice                  0
CustomerID                0
CustomerName              0
Gender                    0
JobTitle                  0
PhoneNumber               0
EmailAddress              0
City                      0
Country                   0
CountryCode               0
State                     0
CustomerAddress           0
OrderDate                 0
OrderID                   0
ShipDate                  0
ShipMode                  0
Shipping                  0
PostalCode                0
Sales                     0
Quantity                  0
Discount                  0
CreditCardType            0
CreditCard                0
CustomerFeedback          0
dtype: int64

In [6]:
df.nunique()

SupplierID                1000
SupplierAddress           1000
SupplierName               362
SupplierContactDetails    1000
ProductID                  883
CarMaker                    54
CarModel                   504
CarColor                    19
CarModelYear                47
CarPrice                  1000
CustomerID                 994
CustomerName              1000
Gender                       2
JobTitle                   182
PhoneNumber               1000
EmailAddress              1000
City                       300
Country                      1
CountryCode                  1
State                       49
CustomerAddress           1000
OrderDate                  337
OrderID                    993
ShipDate                   168
ShipMode                     4
Shipping                     2
PostalCode                 777
Sales                     1000
Quantity                     2
Discount                    66
CreditCardType              16
CreditCard                1000
CustomerFeedback             5
dtype: int64

In [7]:
df = df.drop_duplicates(subset=['ProductID'], keep='first')
df = df.drop_duplicates(subset=['CustomerID'], keep='first')
df = df.drop_duplicates(subset=['OrderID'], keep='first')

In [8]:
df.shape

(872, 33)

In [9]:
df.nunique()

SupplierID                872
SupplierAddress           872
SupplierName              346
SupplierContactDetails    872
ProductID                 872
CarMaker                   53
CarModel                  473
CarColor                   19
CarModelYear               46
CarPrice                  872
CustomerID                872
CustomerName              872
Gender                      2
JobTitle                  177
PhoneNumber               872
EmailAddress              872
City                      283
Country                     1
CountryCode                 1
State                      49
CustomerAddress           872
OrderDate                 330
OrderID                   872
ShipDate                  168
ShipMode                    4
Shipping                    2
PostalCode                694
Sales                     872
Quantity                    2
Discount                   66
CreditCardType             16
CreditCard                872
CustomerFeedback            5
dtype: int64

In [10]:
df.dtypes

SupplierID                  int64
SupplierAddress            object
SupplierName               object
SupplierContactDetails     object
ProductID                   int64
CarMaker                   object
CarModel                   object
CarColor                   object
CarModelYear                int64
CarPrice                  float64
CustomerID                 object
CustomerName               object
Gender                     object
JobTitle                   object
PhoneNumber                object
EmailAddress               object
City                       object
Country                    object
CountryCode                object
State                      object
CustomerAddress            object
OrderDate                  object
OrderID                    object
ShipDate                   object
ShipMode                   object
Shipping                   object
PostalCode                  int64
Sales                     float64
Quantity                    int64
Discount                  float64
CreditCardType             object
CreditCard                  int64
CustomerFeedback           object
dtype: object

In [11]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df['ShipDate'] = pd.to_datetime(df['ShipDate'])

In [12]:
df['PhoneNumber'] = df['PhoneNumber'].str.replace('-', '')
df['OrderID'] = df['OrderID'].str.replace('-', '')
df['CustomerID'] = df['CustomerID'].str.replace('-', '')
df['SupplierContactDetails'] = df['SupplierContactDetails'].str.replace('-', '')

In [13]:
df['PhoneNumber'] = df['PhoneNumber'].astype('int64')
df['OrderID'] = df['OrderID'].astype('int64')
df['CustomerID'] = df['CustomerID'].astype('int64')
df['SupplierContactDetails'] = df['SupplierContactDetails'].astype('int64')

In [14]:
supplier_name_to_id = {name: i + 1 for i, name in enumerate(df['SupplierName'].unique())}

# Update the SupplierID based on the SupplierName mapping
df['SupplierID'] = df['SupplierName'].map(supplier_name_to_id)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
     SupplierID         SupplierAddress SupplierName  SupplierContactDetails  \
0             1       542 Dayton Center   Bubbletube               871576028
1             2  0674 Springview Circle      Tagopia               337644060
2             3   70 Autumn Leaf Center      Zoomdog               218191802
3             4         649 Corben Lane         Oozz               635153112
4             5      94 Namekagon Point         Kare               849236788
..          ...                     ...          ...                     ...
993         104          56 Jay Terrace        Zoovu               742596791
995         287        13 Dunning Alley      Edgeify               352073630
996         346        60 Fairview Hill       Zooveo               788646027
997         177        026 Calypso Pass         Geba               439179977
999         176       8006 Dennis Plaza      Meembee               544943877

     ProductID    CarMaker     CarModel   CarColor  CarModelYear   CarPrice  \
0         8893       Dodge     Ram 2500  Goldenrod          2007  521963.45
1         9444      Toyota       Tundra    Crimson          2010  672222.04
2          253         GMC  Savana 1500    Crimson          2011  504465.72
3         1283  Volkswagen    Cabriolet     Fuscia          1990  646077.11
4         8905     Mercury      Mariner       Teal          2009  699890.24
..         ...         ...          ...        ...           ...        ...
993       9656         BMW           Z3      Khaki          1999  734175.16
995       7534   Chevrolet  Monte Carlo     Fuscia          2004  718778.77
996       7982      Subaru      Outback      Khaki          2006  689650.37
997       8051        Audi           Q7      Green          2012  525136.96
999       9722  Oldsmobile           88  Goldenrod          1995  655522.91

     ...   ShipDate        ShipMode Shipping PostalCode      Sales Quantity  \
0    ... 2019-03-14  Standard Class    Truck      99522  744796.41        1
1    ... 2019-03-06  Standard Class    Truck      56398  794773.17        1
2    ... 2019-01-20    Second Class      Air      60674  968244.90        1
3    ... 2019-03-16     First Class    Truck      32885  942213.82        2
4    ... 2019-01-29    Second Class      Air      48232  879519.57        1
..   ...        ...             ...      ...        ...        ...      ...
993  ... 2019-05-19     First Class    Truck      19810  914193.62        1
995  ... 2019-03-16    Second Class    Truck      68524  900610.31        2
996  ... 2019-04-08  Standard Class      Air      84152  987645.58        1
997  ... 2019-01-25    Second Class      Air      74141  870962.70        2
999  ... 2019-05-04  Standard Class    Truck      84403  821678.46        1

    Discount             CreditCardType        CreditCard CustomerFeedback
0       0.83  diners-club-carte-blanche    30408016042565              Bad
1       0.79                        jcb  3549221112237767             Good
2       0.28                        jcb  3557159608180902             Okay
3       0.76                        jcb  3529909223663921         Very Bad
4       0.50             china-unionpay  5602235978541517              Bad
..       ...                        ...               ...              ...
993     0.42                        jcb  3576734977831801        Very Good
995     0.59                    maestro  5018690487820810             Okay
996     0.33                        jcb  3576733373268774             Okay
997     0.25  diners-club-carte-blanche    30375193692530             Okay
999     0.89                       visa     4041378095582         Very Bad

[872 rows x 33 columns]

In [19]:
# prompt: print rows where suppliername is oozz

df[df['SupplierName'] == 'Oozz']

,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,CarPrice,...,ShipDate,ShipMode,Shipping,PostalCode,Sales,Quantity,Discount,CreditCardType,CreditCard,CustomerFeedback
3,4,649 Corben Lane,Oozz,635153112,1283,Volkswagen,Cabriolet,Fuscia,1990,646077.11,...,2019-03-16,First Class,Truck,32885,942213.82,2,0.76,jcb,3529909223663921,Very Bad
48,4,3 Dawn Court,Oozz,348061263,7701,Mitsubishi,Challenger,Green,2002,672062.80,...,2019-05-21,Same Day,Air,74133,948811.89,2,0.64,visa,4041379720535,Very Good
152,4,38186 Bunting Junction,Oozz,186078144,981,Dodge,Viper,Puce,2004,568613.03,...,2019-04-12,Second Class,Air,94522,875011.94,2,0.33,americanexpress,376169794994748,Bad
242,4,405 Manley Trail,Oozz,684230409,8751,Toyota,Land Cruiser,Fuscia,2011,755210.78,...,2019-01-01,Second Class,Air,33448,821081.22,1,0.50,diners-club-international,36026449417362,Okay
832,4,770 Corry Road,Oozz,213927831,8673,Nissan,Sentra,Turquoise,2003,502874.75,...,2019-03-10,First Class,Air,27110,789455.65,2,0.42,diners-club-enroute,201584132005638,Bad

In [20]:
df.head()

,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,CarPrice,...,ShipDate,ShipMode,Shipping,PostalCode,Sales,Quantity,Discount,CreditCardType,CreditCard,CustomerFeedback
0,1,542 Dayton Center,Bubbletube,871576028,8893,Dodge,Ram 2500,Goldenrod,2007,521963.45,...,2019-03-14,Standard Class,Truck,99522,744796.41,1,0.83,diners-club-carte-blanche,30408016042565,Bad
1,2,0674 Springview Circle,Tagopia,337644060,9444,Toyota,Tundra,Crimson,2010,672222.04,...,2019-03-06,Standard Class,Truck,56398,794773.17,1,0.79,jcb,3549221112237767,Good
2,3,70 Autumn Leaf Center,Zoomdog,218191802,253,GMC,Savana 1500,Crimson,2011,504465.72,...,2019-01-20,Second Class,Air,60674,968244.90,1,0.28,jcb,3557159608180902,Okay
3,4,649 Corben Lane,Oozz,635153112,1283,Volkswagen,Cabriolet,Fuscia,1990,646077.11,...,2019-03-16,First Class,Truck,32885,942213.82,2,0.76,jcb,3529909223663921,Very Bad
4,5,94 Namekagon Point,Kare,849236788,8905,Mercury,Mariner,Teal,2009,699890.24,...,2019-01-29,Second Class,Air,48232,879519.57,1,0.50,china-unionpay,5602235978541517,Bad

In [23]:
df.dtypes

SupplierID                         int64
SupplierAddress                   object
SupplierName                      object
SupplierContactDetails             int64
ProductID                          int64
CarMaker                          object
CarModel                          object
CarColor                          object
CarModelYear                       int64
CarPrice                         float64
CustomerID                         int64
CustomerName                      object
Gender                            object
JobTitle                          object
PhoneNumber                        int64
EmailAddress                      object
City                              object
Country                           object
CountryCode                       object
State                             object
CustomerAddress                   object
OrderDate                 datetime64[ns]
OrderID                            int64
ShipDate                  datetime64[ns]
ShipMode                          object
Shipping                          object
PostalCode                         int64
Sales                            float64
Quantity                           int64
Discount                         float64
CreditCardType                    object
CreditCard                         int64
FeedbackText                      object
dtype: object

In [21]:
df['FeedbackText'] = df['CustomerFeedback'].astype('object')

In [22]:
df = df.drop(columns=['CustomerFeedback'])

In [24]:
import random

# Function to generate unique random numbers
def generate_unique_ids(num_ids, digit_count):
    min_id = 10**(digit_count-1)
    max_id = 10**digit_count - 1
    unique_ids = set()

    while len(unique_ids) < num_ids:
        # Generate a random number within the range
        rand_id = random.randint(min_id, max_id)
        unique_ids.add(rand_id)

    return list(unique_ids)

# Assigning unique IDs to each specified column
num_rows = len(df)
df['FeedbackID'] = generate_unique_ids(num_rows, 6)
df['PaymentID'] = generate_unique_ids(num_rows, 7)
df['OrderDetailID'] = generate_unique_ids(num_rows, 8)
df['CustomerAddressID'] = generate_unique_ids(num_rows, 6)
df['ContactID'] = generate_unique_ids(num_rows, 7)
df['CarDetailID'] = generate_unique_ids(num_rows, 8)
df['AddressID'] = generate_unique_ids(num_rows, 6)

In [25]:
df.head()

,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,CarPrice,...,CreditCardType,CreditCard,FeedbackText,FeedbackID,PaymentID,OrderDetailID,CustomerAddressID,ContactID,CarDetailID,AddressID
0,1,542 Dayton Center,Bubbletube,871576028,8893,Dodge,Ram 2500,Goldenrod,2007,521963.45,...,diners-club-carte-blanche,30408016042565,Bad,397313,4708354,75724802,288768,7284744,70856706,602115
1,2,0674 Springview Circle,Tagopia,337644060,9444,Toyota,Tundra,Crimson,2010,672222.04,...,jcb,3549221112237767,Good,260100,4261890,73197571,665604,6486024,35731459,872452
2,3,70 Autumn Leaf Center,Zoomdog,218191802,253,GMC,Savana 1500,Crimson,2011,504465.72,...,jcb,3557159608180902,Okay,638981,6678537,11272198,610309,9109512,84338692,698375
3,4,649 Corben Lane,Oozz,635153112,1283,Volkswagen,Cabriolet,Fuscia,1990,646077.11,...,jcb,3529909223663921,Very Bad,587782,3438602,85907463,198661,5640207,27133957,925703
4,5,94 Namekagon Point,Kare,849236788,8905,Mercury,Mariner,Teal,2009,699890.24,...,china-unionpay,5602235978541517,Bad,671756,5214220,46393353,122887,7524368,20353032,192521

In [26]:
df.to_csv("processed_data.csv")

In [29]:
import pandas as pd

# Load the large CSV file
data = pd.read_csv('/content/processed_data.csv')

# Creating a CSV for the Supplier table
data[['SupplierID', 'SupplierName', 'SupplierContactDetails']].drop_duplicates().to_csv('Supplier.csv', index=False)

# Creating a CSV for the SupplierAddress table
data[['AddressID', 'SupplierID', 'SupplierAddress', 'City', 'State', 'Country', 'PostalCode']].drop_duplicates().to_csv('SupplierAddress.csv', index=False)

# Creating a CSV for the Product table
data[['ProductID', 'CarMaker', 'CarModel', 'CarPrice', 'SupplierID']].drop_duplicates().to_csv('Product.csv', index=False)

# Creating a CSV for the CarDetail table
data[['CarDetailID', 'ProductID', 'CarColor', 'CarModelYear']].drop_duplicates().to_csv('CarDetail.csv', index=False)

# Creating a CSV for the Customer table
data[['CustomerID', 'CustomerName', 'Gender', 'JobTitle']].drop_duplicates().to_csv('Customer.csv', index=False)

# Creating a CSV for the ContactInfo table
data[['ContactID', 'CustomerID', 'PhoneNumber', 'EmailAddress']].drop_duplicates().to_csv('ContactInfo.csv', index=False)

# Creating a CSV for the CustomerAddress table
data[['CustomerAddressID', 'CustomerID', 'CustomerAddress', 'City', 'State', 'Country', 'PostalCode']].drop_duplicates().to_csv('CustomerAddress.csv', index=False)

# Creating a CSV for the Orders table
data[['OrderID', 'CustomerID', 'OrderDate', 'ShipDate', 'ShipMode']].drop_duplicates().to_csv('Orders.csv', index=False)

# Creating a CSV for the OrderDetail table
data[['OrderDetailID', 'OrderID', 'ProductID', 'Quantity', 'Sales', 'Discount']].drop_duplicates().to_csv('OrderDetail.csv', index=False)

# Creating a CSV for the Payment table
data[['PaymentID', 'OrderID', 'CreditCardType', 'CreditCard', 'Shipping']].drop_duplicates().to_csv('Payment.csv', index=False)

# Creating a CSV for the CustomerFeedback table
data[['FeedbackID', 'OrderID', 'FeedbackText']].drop_duplicates().to_csv('CustomerFeedback.csv', index=False)